html {
    scroll-behavior: smooth;
}

body{
    background-color: #FEF8ED;
    font-family: 'Inter', sans-serif;
    font-weight: 400;   
    font-size: 16px;
    line-height: calc((20/16)*100%);
    color: #B5B5B5;
}
.body__active{
    overflow: hidden;
}
h1{
    margin: 0  ;
    font-size: 3.47vw;
    font-weight: 400;
    letter-spacing: -3px;
    line-height: 120%;
    color: #161515;
}
h2{
    margin: 0;
    font-size: 48px;
    line-height: calc((51/48)*100%);
    font-weight: 400;
    letter-spacing: -3px;
    color: #161515;
}
@media (max-width:900px) {
    h2{
        font-size: 32px;
    }
}
@media (max-width:700px) {
    h2{
        letter-spacing: -2px;
    }
}
@media (max-width:500px) {
    h2{
        font-size: 24px;
    }
}
h3{
    margin: 0;
    font-size: 24px;
    line-height: calc((26/24)*100%);
    font-weight: 400;
    letter-spacing: -1px;
    color: #161515;
}
a{
    text-decoration: none;
}






.wrapper{
    
    padding: 0px 50px;
    transition: ease-in-out 0.3s;
}
.wrapper__active{
    opacity: 0.1;
    
}
@media (max-width:640px) {
    .wrapper{
    padding: 0px 25px;
    }
}
@media (max-width:480px) {
    .wrapper{
    padding: 0px 10px;
    }
}
.wrapper__heaeder{
    height: 85px;
}
.header__main{
    position: fixed;
    width:calc(100% - 116px);
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.header__logo640{
    display: none;
}
.header__navigation{
   width: 60%;
}
.list{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.list__link{
    font-size: 16px;
    line-height: calc((19.6/16)*100%);
    transition: ease-in-out 0.3s;
    color: #B5B5B5;
}
.list__link:hover{
    transition: ease-in-out 0.3s;
    opacity: 0.5;
}
.list__button{
    padding: 10px 15px;
    border: 1px solid #161515;
    border-radius: 5px;
    background-color: #fef8ed;
    color: #161515;
    transition: ease-in-out 0.3s;
}
.menu__button{
    display: none;
    font-size: 16px;
    padding: 10px 25px;
    border: 1px solid #161515;
    border-radius: 5px;
    color: #161515;
    background-color: #fef8ed;
    transition: ease-in-out 0.3s;
}
.list__button:hover{
    background-color: #161515;
    color: #FEF8ED;
    transition: ease-in-out 0.3s;
}

@media (max-width:1400px) {
    .header__navigation{
        width: 70%;
    }
}

@media (max-width:960px) {
    .header__navigation{
        display: none;
    }
    .menu__button{
        display: block;
    }
}
@media (max-width:640px) {
    .header__main{
        width: calc(100% - 66px);
    }
    .header__logo640{
        display: block;
    }
    .header__logo1920{
        display: none;
    }
}
@media (max-width: 480px) {
    .header__main{
        width: calc(100% - 36px);
    }
}

/*menu*/
.header__menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    background-color: #161515;
    color: #fef8ed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    transition: ease-in-out 0.35s;
    align-items: start;
    opacity: 1;
}
.menu__active{
    width: 180px;
    padding: 48px 40px 38px 40px;
    height: 90%;
}
.menu__top{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.menu__bottom{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.menu__logo{
    width: 120px;
    height: 120px;
}

.menu__close{
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    right: 10px; 
    transition: ease-in-out 0.5s;
}
.close__active{
    width: 64px;
    height: 64px;
    transition: ease-in-out 0.5s;
}
.menu__list{
    width: fixed;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 180px;
}
.menu__list__link{
    color: #fef8ed;
    width: 180px;
    font-size: 16px;
}
.menu__lsit__button{
    width: 140px;
    text-align: center;
    font-size: 16px;
    color: #fef8ed;
    padding: 10px 20px;
    border: 1px solid #fef8ed;
    border-radius: 5px;
}
.menu__text{
    width: 180px;
}

@media (max-height:500px) {
    .menu__active{
        padding: 28px 40px 18px 40px;
    }
}


/* title*/ 


.title{
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20vh;
}
.title__hiading2{
    color: #B5B5B5;
}
.title__hiading960{
    display: none;
}
.title__content{
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items:end;
}
.title__content__img{
    width: 320px;
    height: 320px;
}
.title__info{
    display: flex;
    gap: 120px;
}
.title__info__links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title__info__contacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title__text{
    font-size: 16px;
    line-height: calc((19.6/16)*100%);;
    color: #B5B5B5;
}
.title__link{
    font-size: 16px;
    line-height: calc((19.6/16)*100%);;
    color: #161515;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.title__link__tel{
    font-size: 16px;
    line-height: calc((19.6/16)*100%);;
    color: #161515;
}
@media (max-width:1440px){
    .title__content__img{
        width: 280px;
        height: 280px;
    }
    .title__info{
        gap:90px;
    }
}
@media (max-width:960px) {
    .title__hiading{
        font-size: 5vw;
    }
    .title__hiading960{
        display: block;
    }
    .title{
        gap: 0;
    }
    .title__content{
        flex-direction: row-reverse;
        padding: 0;
    }
    .title__content__img{
        width: 240px;
        height: 240px;
    }
}
@media (max-width:780px) {
    h1{
        letter-spacing: -2px;
    }
    .title__info{
        flex-direction: column;
        gap: 30px;
    }
}
@media (max-width:540px) {
    .title__content__img{
        width: 180px;
        height: 180px;
    }
    .title{
        gap: 10vh;
    }
}
@media (max-width:480px) {
    .title__hiading{
        font-size: 6vw;
    }
    .title__hiading360{
        display: none;
    }
    
    .title__info__contacts{
        display: none;
    }
    .title{
        gap:20vh;
    }
}
@media (max-width:380px) {
    .title__content__img{
        width: 140px;
        height: 140px;
    }
}


/*article*/

.article{
    padding: 50px 0px 25px 0px;
}
.article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.article__hiading{
    margin-bottom: 15px;
}
.article__item{
    padding: 20px;
    width: calc((100vw-180px)/3);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #B5B5B5;
    border-radius: 5px;
}
.article__img{
    max-width: 100%;
    height: 100%;
}
.article__lincks{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.article__hash{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.article__hash__link{
    color: #B5B5B5;
}
.article__hash__link_mounth{
    padding-left: 10px;
    border-left: 1px solid #B5B5B5;
}
.article__svg{
    width: 12px;
    height: 12px;
}

@media (max-width:1300px) {
    .article{
        grid-template-columns: 1fr 1fr;
    }
    .article3{
        grid-column-start: 2;    
        grid-column-end: 3;
    }
}

@media (max-width:960px) {
    .article{
        grid-template-columns: 1fr;
    }
    .article3{
        grid-column-start: 1;    
        grid-column-end: 2;
    }
}
@media (max-width:480px) {
    .article__hiading{
        font-size: 24px;
        line-height: calc((25.5/24)*100%);
    }
    .article__item{
        padding: 15px;
    }
    .article__title{
        font-size: 18px;
        line-height: calc((20/18)*100%);
    }
    .article__lincks{
        align-items: end;
    }
   .article__hash{
        gap: 4px;
        width:80% ;
        flex-wrap: wrap;
   }
   .article__hash__link_mounth{
        padding: 0;
        border: none;
   }
   .article__hash__link{
    font-size: 14px;
   }
}


/*project*/


.wrapper__project{
    padding: 25px 0;
}
.project__hiading{
    margin-bottom: 30px;
}
.project__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.project__colum{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.project__colum2{
    height: 80%;
}
.project__item{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
}
.project__img{
    width: 100%;
}
.project__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project__info__text{
    display: flex;
    flex-direction: column;
    gap:5px;    
}
.project__lincks{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}
.project__text__year{
    padding-left: 10px;
    border-left: 1px solid #B5B5B5;
}
.project__svg{
    width: 24px;
    height: 24px;
}
.item__main{
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 32px;
}
.project__img_main{
    padding: 25px 20px;
    width: 58px;
    height: 51px;
    border: 2px solid #DE0046;
    border-radius: 50%;
}
.project__info__main{
    display: flex;
    flex-direction: column;
    gap:5px
}


@media (max-width:1150px) {
    .project__content{
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .project__colum3{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .project__colum2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .item__main{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .item5{
        margin-top: -350px;
    }
}

@media (max-width:1050px) {
    .item5{
        margin-top: -300px;
    }
}
@media (max-width:900px) {
    .item5{
        margin-top: -250px;
    }
}
@media (max-width:770px) {
    .item5{
        margin-top: -190px;
    }
}
@media (max-width:650px) {
    .project__content{
        grid-template-columns: 1fr;
    }
    .project__colum{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .project__colum2{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-columns: 1fr;

    }
    .project__colum3{
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .item5{
        margin-top: 0;
    }
    
    .project__item__hiading{
        font-size: 18px;
    }
}
@media (max-width:500px) {
    .item__main{
        gap:10px;
    }
    
}


/*description*/

.description {
    padding: 50px 0 100px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.descriptin__about {
    display: flex;
    flex-direction: column;
    gap:15px
}
.description__mail{
    display: flex;
    flex-direction: column;
    justify-self: end;
}
.mail__text {
    padding-bottom:10px ;
    font-size: 148px;
    line-height: calc((181/148)*100%);
    color: #161515;
    text-decoration: underline;
    text-underline-offset: 35px;
}

@media (max-width:1650px) {
   .mail__text{
    font-size: 102px;
    text-underline-offset: 23px;
   }
   .about__br{
    display: none;
   }
}

@media (max-width:1150px) {
    .description{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .about__br{
        display: block;
    }
    .description__mail{
        justify-self: start;
    }
}
@media (max-width:900px) {
    .mail__text{
        font-size: 88px;
        text-underline-offset: 20px;
    }
}
@media (max-width:750px) {
    .mail__text{
        font-size: 70px;
        text-underline-offset: 17px;
    }
}
@media (max-width:560px) {
    .mail__text{
        font-size: 42px;
        text-underline-offset: 10px;
    }
    .about__br{
        display: none;
    }
}

/*footer*/
.wrapper__footer{
    padding-bottom: 15px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__up{
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}
.up__text{
    color: #161515;
}
.footer__autor{
    line-height: calc((27.6/16)*100%);
    color: #161515;
}
.autor__link{
    color: #161515;
    text-decoration: underline;
}

@media (max-width:650px) {
    .footer{
        flex-direction: column;
        align-items: start;
        gap: 35px;
    }
}