h1{
    margin: 0;
    padding: 0;
}
.info{
    display: flex;
    justify-content: space-between;

}
.tomat__title{
    display: flex;
    flex-direction: column;
    gap:6px;
}
.title__main{
    font-size: 72px;
    line-height: calc((80/72)*100%);
    color: #161515;
}
.title__decription{
    display: flex;
    gap: 22px;
}
.info__main{
    display: flex;
    justify-content: space-between;
    gap: 43px;
    width: 60%;
}
.first{
    display: flex;
    flex-direction: column;
    gap:25px;
}
.firts__year{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.first__year__description{
    color: #161515;
}
.firts__client{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.first__client__description{
    color: #161515;
}
.second__co-authors{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.second__co-authors__description{
    color: #161515;
}
.info__main__third{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 60%;
}
.info__main__description{
    color: #161515;
}


.info__title__hide{
    display: none;
}
@media (max-width:1600px) {
    .title__main{
        font-size: 52px;
    }
}
@media (max-width:1300px) {
    .info__title__hide{
        display: block;
    }
    .info__main__first{
        display: none;
    }
    .info__main__second{
        display: none;
    }
    .info__main__third{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .first{
        justify-content: start;
        flex-direction: row-reverse;
        gap: 100px;
    }
    .info__title__hide{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .title__decription{
        margin-bottom: 30px;
    }
}
@media (max-width:900px) {
    .title__main{
        font-size: 42px;
    }
}
@media (max-width:500px) {
    .title__main{
        font-size: 26px;
    }
    .info__main{
        flex-direction: column;
        gap:20px
    }
    .info{
        gap: 20px;
    }
    .info__main__description1400{
        margin-top: 20px;
    }
    .first{
        gap: 70px;
    }
}

.main__img{
    margin-top: 50px;
    width: 100%;
}